.navbar {
    background-image: url('https://png.pngtree.com/background/20210710/original/pngtree-beautiful-poetic-travel-background-picture-image_996574.jpg'); /* Update with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }